rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /backgrounds/{fileName} {
      allow read: if fileName.matches('.*\\.jpg$'); // Svi mogu čitati jpg
      allow write: if request.auth != null && fileName.matches('.*\\.jpg$'); // Samo ulogirani mogu pisati jpg
    }
  }
}
