* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb")
    center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: background 0.5s ease;
}


/* ==== Kartica ==== */
.card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  padding: 4vh 8vw;
  border-radius: 3vw;
  text-align: center;
  color: black;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
  width: 70vw;
  max-width: 500px;
}

.card h1 {
  color: #000000;
  margin-bottom: 2vh;
  font-family: 'Brush Script MT', cursive;
  font-size: 6vw;
  line-height: 1.1;
}

.card p {
  font-size: 3.2vw;
  line-height: 1.5;
}

/* ==== Admin gumbi ==== */
#adminControls {
  margin-top: 2vh;
  display: flex;
  gap: 10px;
}

#adminControls button {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 1vw;
  padding: 1vh 3vw;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dugme{
    background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 1vw;
  padding: 1vh 3vw;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}
.dugme:hover{
  background: rgba(255, 255, 255, 0.45);
}
#adminControls button:hover {
  background: rgba(255, 255, 255, 0.45);
}

/* ==== Responsivni detalji ==== */
@media (min-width: 768px) {
  .icon {
    width: 4vw;
    height: 4vw;
    font-size: 1.5vw;
  }

  .color-panel { top: 8vh; }
  .card { width: 40vw; }
  .card h1 { font-size: 2.2vw; }
  .card p { font-size: 1vw; }
}
.login-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
}

.login-card input {
  width: 80%;
  margin: 10px 0;
  padding: 8px;
  border: none;
  border-radius: 10px;
}

.login-card button {
  background: rgba(255,255,255,0.25);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
